<p-menubar [styleClass]="'menu'">
    <ng-template pTemplate="start">
        <a pTooltip="Reset Chat" tooltipPosition="bottom"   class="cursor-pointer" (click)="sharedService.newChat$.next()">
            <span class="pi pi-pen-to-square text-lg mr-2"></span>
        </a>
        
        <a routerLink="/" class="no-underline text-xl font-bold text-gray-500">
            ChatGPT
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
            <span class="pi pi-upload text-lg mr-2"></span>
            <p-avatar label="S" styleClass="mr-2" shape="circle"
                [style]="{'background-color': '#ef6c00', 'color': 'white'}" />
        </div>
    </ng-template>
</p-menubar>