.chat {
    height: calc(100vh - 125px);
    overflow:hidden;
}

.chat {
    border: 1px solid red;
}

.chat__content {
    border: 1px solid green;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat__form {
    border: 1px solid blue;
}