/* PrimeNG Theme */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* PrimeFlex */
@import 'primeflex/primeflex.css';

/* Prime Icons */
@import "primeicons/primeicons.css";

body {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}